@model List<Schuelerdaten>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="display: flex; justify-content: center; align-items: center;">
    <img src="/Download.jpg" alt="Bildbeschreibung" style="width: 50px; height: auto; margin-right: 15px;">
    <h1 class="display-4">Welcome</h1>
</div>

@if (ViewData["QRCode"] != null)
{
    <div class="text-center" style="display: flex; justify-content: center; align-items: center">
        <img src="@ViewData["QRCode"]" alt="QR-Code" />
    </div>
    

}

<!--
<table>
    <thead>
        <tr>
            <th> e-mail </th>
            <th> klasse </th>
            <th> schluessel </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.klasse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schluessel)
                </td>
            </tr>
        }
    </tbody>
</table>





-->